---

- name: Add blockedomain settings for mdl
  ansible.builtin.template:
    src: blockeddomain.hosts.j2
    dest: "{{ bind_etc }}/blockeddomain.hosts"
    mode: 0644

- name: Add malware domains list zone in local configuration
  ansible.builtin.blockinfile:
    dest: "{{ bind_etc }}/named.conf.local"
    marker: '// {mark} ANSIBLE MANAGED BLOCK: malware domains list'
    block: |
       include "{{ bind_etc }}/spywaredomains.zones";
    mode: '0644'
  notify:
    - Restart bind

- name: Install update script
  ansible.builtin.template:
    src: bind-mdl-update.sh.j2
    dest: /usr/local/bin/bind-mdl-update.sh
    mode: 0755

- name: Check if dns resolution works as expected
  ansible.builtin.shell: "{{ item }}"  # noqa command-instead-of-shell
  with_items:
    - host malware-domains.com
    - ps axu | grep bind
  changed_when: false
  failed_when: false
  register: d
- name: Debug | dns resolution output
  ansible.builtin.debug: var=d

- name: Recover first list
  ansible.builtin.command: "/usr/local/bin/bind-mdl-update.sh creates={{ bind_etc }}/spywaredomains.zones"
  notify:
    - Restart bind

- name: Redhat | disable zone check because of minor errors in mdl file
  ansible.builtin.lineinfile:
    dest: /etc/sysconfig/named
    regexp: '^DISABLE_ZONE_CHECKING=.*'
    line: 'DISABLE_ZONE_CHECKING=yes'
    backup: yes
  when: ansible_os_family == 'RedHat'
