---

- name: apt | Install bind9
  apt: name={{item}} state=present update_cache=yes
  with_items: "{{ bind_pkgs }}"

- include: bind-apparmor.yml

- include: resolvconf.yml
  when: not (ansible_virtualization_type is defined and ansible_virtualization_type == "docker")
