---

- name: Debian
  when: ansible_facts['distribution'] == 'Debian' or ansible_facts['distribution'] == 'Ubuntu'
  block:
    - name: Check if /etc/default/named
      ansible.builtin.stat:
        path: /etc/default/named
      register: default
    - name: Debian | disable ipv6
      ansible.builtin.replace:
        dest: /etc/default/named
        regexp: '^OPTIONS="-([a-z ].*)"'
        replace: 'OPTIONS="-4 -\1"'
        backup: yes
      notify:
        - Restart bind
      when: default.stat.exists

- name: RedHat
  when: ansible_facts['os_family'] == "RedHat"
  block:
    - name: Redhat | disable ipv6
      ansible.builtin.replace:
        dest: /etc/sysconfig/named
        regexp: '^OPTIONS=""'
        replace: 'OPTIONS="-4"'
        backup: yes
      notify:
        - Restart bind
