---

- name: Debian
  block:
    - name: Check if /etc/default/bind9
      ansible.builtin.stat:
        path: /etc/default/bind9
      register: default
    - name: Debian | disable ipv6
      ansible.builtin.replace:
        dest: /etc/default/bind9
        regexp: '^OPTIONS="-u bind'
        replace: 'OPTIONS="-4 -u bind'
        backup: yes
      notify:
        - Restart bind
      when: default.stat.exists
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: RedHat
  block:
    - name: Redhat | disable ipv6
      ansible.builtin.replace:
        dest: /etc/sysconfig/named
        regexp: '^OPTIONS=""'
        replace: 'OPTIONS="-4"'
        backup: yes
      notify:
        - Restart bind
  when: ansible_os_family == "RedHat"
