---

- name: Include version-specific variables for Ubuntu.
  include_vars: "{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml"
  when: ansible_distribution == 'Ubuntu'
- name: Include version-specific variables for RedHat
  include_vars: "RedHat-{{ ansible_distribution_version.split('.')[0] }}.yml"
  when: ansible_os_family == "RedHat" or ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux'

- include: debian.yml
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- include: redhat.yml
  when: ansible_os_family == "RedHat" or ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux'

- name: install new named.conf options with dnssec
  template:
    src: named.conf.options.j2
    dest: "{{ bind_etc }}/named.conf.options"
    backup: yes
    group: "{{ bind_user }}"
    mode: '0644'
  notify:
    - restart bind

- block:
    - include: "zones.yml zone={{ outer_item }}"
      with_items: "{{ bind_zones }}"
      loop_control:
        loop_var: outer_item
  when: bind_zones != []

- include: bind-secure-template.yml

- include: ipv6.yml
  when: bind_disable_ipv6 is defined and bind_disable_ipv6

- include: bind-rpz.yml
  when: bind_rpz is defined and bind_rpz

- include: bind-blackhole-malwaredomainslist.yml
  when: bind_malwaredomainslist_blackhole is defined and bind_malwaredomainslist_blackhole

- include: misp-integration.yml
  when: bind_misp_apikey != '' and bind_misp_url != ''

## Centos7: cant replace named.conf when named-chroot active
- include: peerdns.yml
  when: ansible_os_family == "RedHat" or ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux'

#- meta: flush_handlers
## should be at the end, else can lose dns connectivity
- include: resolvconf2.yml

- name: Ensure bind is running and enabled on boot.
  service: name={{ bind_svc }} state=started enabled=yes

