---

- name: Install misp update script
  ansible.builtin.template:
    src: misp-bind-rpz-fetch.sh.j2
    dest: /usr/local/bin/misp-bind-rpz-fetch.sh
    ## contains MISP api key!!!
    mode: '0700'

- name: Run misp-bind-rpz-fetch.sh once
  ansible.builtin.command: "/usr/local/bin/misp-bind-rpz-fetch.sh"
  args:
    creates: "{{ bind_etc }}/misp.rpz"
  failed_when: false

- name: Check rpz retrieve is correct
  ansible.builtin.command: "head -1 {{ bind_etc }}/misp.rpz"
  register: misprpz
  changed_when: false
  failed_when: false
- name: Debug | error notification
  ansible.builtin.debug: msg="Error in MISP RPZ fetch! need to check MISP user account matching the key!"
  when: >
    'Your user account is expecting a password change' in misprpz.stdout or
    'Invalid event ID format' in misprpz.stdout

- name: Add misp2bind cron job
  ansible.builtin.cron: name="misp2bind refresh" minute=12 hour=12
    user="root" job="/usr/local/bin/misp-bind-rpz-fetch.sh"
    cron_file=ansible_misp2bind-refresh
