---

- name: Ensure nrpe.d dir exists
  ansible.builtin.file: dest=/etc/nagios/nrpe.d state=directory mode=0755

- name: Add some nrpe commands for monitoring
  ansible.builtin.template: src=bind-nrpe.cfg.j2 dest=/etc/nagios/nrpe.d/bind-nrpe.cfg mode=0644
