---

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: yes
  become: yes
  become_user: root
  when:
    - not is_container | bool

- name: Reload apparmor bind  # noqa no-changed-when
  ansible.builtin.command: "apparmor_parser -r /etc/apparmor.d/usr.sbin.named"
  when:
    - not is_container

- name: Restart bind
  ansible.builtin.service:
    name: "{{ bind_svc }}"
    state: restarted
  when:
    - not is_container

- name: Restart resolvconf
  ansible.builtin.service:
    name: resolvconf
    state: restarted
  when:
    - not is_container

- name: Restart networking
  ansible.builtin.service:
    name: networking
    state: restarted
  when:
    - not is_container
    - (ansible_facts['distribution'] == 'Ubuntu' and ansible_facts['distribution_major_version'] | int < 18)
