; {{ ansible_managed }}
; RPZ Whitelist

$TTL 	86400
@            IN    SOA  localhost. root.localhost.  (
					2016010201	; serial
					3H		; refresh
					15M		; retry
					1W		; expiry
					1D )		; minimum
		IN NS		LOCALHOST.


;32.5.2.168.192.rpz-client-ip CNAME rpz-passthru.

