// {{ ansible_managed }}
// The locally defined rpz zones

zone "whitelist.rpz" {
    type master;
    file "{{ bind_etc }}/local-whitelist.rpz.zone";
    allow-query { clients; };
};

zone "local.rpz" {
    type master;
    file "{{ bind_etc }}/local.rpz.zone";
    allow-query { clients; };
};

{% if bind_misp_apikey != '' and bind_misp_url != '' %}
zone "misp.rpz" {
    type master;
    file "{{ bind_etc }}/local-misp.rpz.zone";
    allow-query { clients; };
};

{% endif %}
