; Reverse zone file for {{ zone.vars.bind_zone_name }}
; {{ ansible_managed }}
; vi: ft=bindzone

$TTL {{ zone.vars.bind_zone_ttl }}
; item: {{ item }}, revdns {{ item | ipaddr('revdns') }}, revdns+regex {{ item | ipaddr('revdns') | regex_replace('^[0-9]+\\.', '') }}
$ORIGIN {{ item | ipaddr('revdns') | regex_replace('^[0-9]+\\.', '') }}

{% if zone.vars.bind_zone_name_servers|length > 0 %}
@ IN SOA {{ zone.vars.bind_zone_name_servers|first }}.{{ zone.vars.bind_zone_name }}. {{ zone.vars.bind_zone_hostmaster_email }}.{{ zone.vars.bind_zone_name }}. (
{% else %}
@ IN SOA {{ ansible_hostname }}.{{ zone.vars.bind_zone_name }}. {{ zone.vars.bind_zone_hostmaster_email }}.{{ zone.vars.bind_zone_name }}. (
{% endif %}
  {{ ansible_date_time.year }}{{ ansible_date_time.month }}{{ ansible_date_time.day }}{{ ansible_date_time.hour }}
  {{ zone.vars.bind_zone_time_to_refresh }}
  {{ zone.vars.bind_zone_time_to_retry }}
  {{ zone.vars.bind_zone_time_to_expire }}
  {{ zone.vars.bind_zone_minimum_ttl }} )

{% if zone.vars.bind_zone_name_servers|length > 0 %}
{% for ns in zone.vars.bind_zone_name_servers %}
@         IN  NS   {{ ns }}.{{ zone.vars.bind_zone_name }}.
{% endfor %}
{% else %}
@                     IN  NS     {{ ansible_hostname }}.{{ zone.vars.bind_zone_name }}.
{% endif %}
{% for ns in zone.vars.bind_other_name_servers %}
@                     IN  NS     {{ ns }}.
{% endfor %}

{% if zone.vars.bind_zone_hosts|length > 1 %}
{% for host in zone.vars.bind_zone_hosts %}
{% if host.ip == item %}
@ IN  PTR  {{ host.name }}.{{ zone.vars.bind_zone_name }}.
{% else %}
{% if host.ip is string and host.ip.startswith(item) %}
{% if host.name == '@' %}
{{ ('.'.join(host.ip.replace(item+'.','').split('.')[::-1])).ljust(8) }} IN  PTR  {{ zone.vars.bind_zone_name }}.
{% else %}
{{ ('.'.join(host.ip.replace(item+'.','').split('.')[::-1])).ljust(8) }} IN  PTR  {{ host.name }}.{{ zone.vars.bind_zone_name }}.
{% endif %}
{% else %}
{% for ip in host.ip %}
{% if ip.startswith(item) %}
{{ ('.'.join(ip.replace(item+'.','').split('.')[::-1])).ljust(8) }} IN  PTR  {{ zone.vars.bind_zone_name }}.
{% if host.name == '@' %}
{% else %}
{{ ('.'.join(ip.replace(item+'.','').split('.')[::-1])).ljust(8) }} IN  PTR  {{ host.name }}.{{ zone.vars.bind_zone_name }}.
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% else %}
{{ ('.'.join(ansible_default_ipv4.address.replace(item+'.','').split('.')[::-1])).ljust(8) }} IN  PTR  {{ ansible_hostname }}.{{ zone.vars.bind_zone_name }}.
{% endif %}
{# vim: ft=text
#}
